Standard: Cpp11
UseTab: Never
TabWidth: 4
IndentWidth: 4
AccessModifierOffset: -3
BreakBeforeBraces: Allman
IndentCaseLabels: true
ColumnLimit: 0
PointerAlignment: Left
BreakConstructorInitializersBeforeComma: false
BreakConstructorInitializers: AfterColon
ConstructorInitializerAllOnOneLineOrOnePerLine: false
AllowAllConstructorInitializersOnNextLine: false
NamespaceIndentation: None
AlignEscapedNewlines: DontAlign
KeepEmptyLinesAtTheStartOfBlocks: false
SpaceBeforeAssignmentOperators: true
ReflowComments: true
SortUsingDeclarations: true
SortIncludes: false
SpaceBeforeParens: NonEmptyParentheses  
AlignTrailingComments: true
AllowAllArgumentsOnNextLine: true
AllowShortIfStatementsOnASingleLine: true
AllowShortFunctionsOnASingleLine: true
AllowShortBlocksOnASingleLine: true
MaxEmptyLinesToKeep: 1
AlignAfterOpenBracket: Align
NamespaceIndentation: All